body {
	font: 1em / 1.5 Tahoma, Verdana, Arial, sans-serif;
	margin: 3em;
	color: #666;
	background: #eee;
	word-wrap: break-word;
}
h1 {
	text-align: center;
	color: #222;
}
h2 {
	text-align: center;
	color: #222;
}
a[href] {
	color: #f60;
	border-bottom: 1px solid rgba(255, 102, 0, 0);
	transition: border 650ms linear;
	text-decoration: none;
}
a[href]:hover, a[href]:focus {
	border-bottom: 1px solid rgba(255, 102, 0, 1);
}
.strap {
	text-align: center;
	font-style: italic;
}
.banner {
	background: #222;
	margin: 3em -3em;
	text-align: center;
	color: #999;
	padding: 3em;
}
.button {
	display: inline-block;
	background: #f60;
	padding: 1em;
	margin: 1em 0.5em;
	color: #fff;
	text-transform: uppercase;
	font-family: Helvetica, Arial, sans-serif;
	border-radius: 2px;
}
.button[href], .button[href]:hover, .button[href]:focus {
	color: #fff;
	border: 0;
	font-weight: bold;
}
.status[href], .status[href]:hover, .status[href]:focus {
	display: inline-block;
	border: 0;
	margin: 1em;
}
pre {
	background: #ddd;
	color: #666;
	padding: 2em;
	margin: 0 -2em;
}
code {
	font-size: 1.25em;
	padding: 0.25em;
	background: #ddd;
	border-radius: 2px;
}
.footnote {
	text-align: center;
	color: #999;
	font-size: 0.75em;
}
